body{
font-family: Arial;
margin:0;
background:#f4f6f9;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
background:#2c3e50;
padding:15px 50px;
color:white;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#3498db,#6dd5fa);
color:white;
text-align:center;
}

.hero h1{
font-size:50px;
}

.hero p{
font-size:20px;
}

.btn{
background:white;
color:#19af5a;
padding:12px 25px;
border-radius:25px;
text-decoration:none;
margin-top:20px;
font-weight:bold;
}

.container{
width:60%;
margin:auto;
margin-top:40px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
}

input{
padding:12px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:12px;
border:none;
background:#3498db;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#2980b9;
}

.card{
background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.result{
margin-top:20px;
padding:20px;
background:#2ecc71;
color:white;
border-radius:10px;
font-size:20px;
}


nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav ul li a{
text-decoration:none;
color:white;
font-size:16px;
font-weight:600;
padding:8px 18px;
border-radius:25px;
transition:all 0.3s ease;
}

nav ul li a:hover{
background:white;
color:yellow;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}